<div class="full-container">
  <ul class="nav">
    <li class="btn btn-info nav-link">
      <a href="/Profile" class="nav-link">個人資料</a>
    </li>
    <li class="btn btn-info nav-link">
      <a href="/Utility" class="nav-link">自助開通</a>
    </li>
  </ul>
</div>
