<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>增加時裝</title>
    <%- include("./partials/style") %>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <form action="/Utility/addSkin/<%= userID %>" method="POST">
      <label for="skin">增加時裝ID : </label>
      <input type="text" name="skin" />
      <button type="submit">送出</button>
    </form>
  </body>
</html>
