<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <%- include("./partials/style") %>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container">
      <p>遊戲名稱 : <%= nickname %></p>
      <p>遊戲UID : <%= userID %></p>
      <form action="/"></form>
    </div>
  </body>
</html>
