<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>更改職業</title>
    <%- include("./partials/style") %>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <form action="/Utility/job/<%= userID %>" method="POST">
      <label for="job">職業ID : </label>
      <input type="text" name="job" />
      <button type="submit">送出</button>

      <div class="container">
        <h1>所以說...那個帝天呢?! 如有錯誤，請幫忙回報給我，感恩!</h1>
        <h3>職業代碼 :</h3>
        <div class="jobCode">
          <p>1 - 艾索德</p>
          <p>2 - 愛莎</p>
          <p>3 - 蕾娜</p>
          <p>4 - 雷文</p>
          <p>5 - 伊芙</p>
          <p>6 - 澄</p>
          <p>7 - 艾拉</p>
          <p>8 - 愛姐</p>
          <p>10 - 巨劍騎士</p>
          <p>11 - 符文一轉</p>
          <p>12 - 衝鋒者</p>
          <p>13 - 狙擊者</p>
          <p>14 - 元素一轉</p>
          <p>15 - 虛無一轉</p>
          <p>16 - 狂鋒一轉</p>
          <p>17 - 末日一轉</p>
          <p>18 - 復仇一轉</p>
          <p>19 - 創造一轉</p>
          <p>20 - DC?IP?一轉</p>
          <p>21 - DC?IP?一轉</p>
          <p>22 - 無盡一轉</p>
          <p>23 - 戰法</p>
          <p>24 - 夜襲一轉</p>
          <p>25 - 槍刃一轉</p>
          <p>26 - 熾天一轉</p>
          <p>27 - TT一轉</p>
          <p>28 - 帝天一轉</p>
          <p>29 - BH???(物理)一轉</p>
          <p>30 - BH???(魔法)一轉</p>
          <p>31 - 修羅一轉</p>
          <p>100 - 領主騎士</p>
          <p>101 - 符文殺手</p>
          <p>102 - 風行者</p>
          <p>103 - 守護者</p>
          <p>104 - 元素魔導</p>
          <p>105 - 虛無公主</p>
          <p>106 - 狂峰武者</p>
          <p>107 - 末日武者</p>
          <p>108 - 復仇女帝</p>
          <p>109 - 創造者</p>
          <p>110 - IP</p>
          <p>111 - DC</p>
          <p>112 - 無盡之刃</p>
          <p>113 - 次元魔女</p>
          <p>114 - 夜襲者</p>
          <p>115 - 槍刃武者</p>
          <p>116 - 熾天</p>
          <p>117 - TT</p>
          <p>118 - 修羅</p>
          <p>119 - 冥王</p>
          <p>120 - GM (頭髮怎不見了...)</p>
          <p>121 - BH (同上..)</p>
          <p>122</p>
        </div>
      </div>
    </form>
  </body>
</html>
