<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>更改職業</title>
    <%- include("./partials/style") %>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <form action="/Utility/job/<%= userID %>" method="POST">
      <label for="job">職業ID : </label>
      <input type="text" name="job" />
      <button type="submit">送出</button>
    </form>
  </body>
</html>
