<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ID查找</title>
    <%- include("./partials/style") %>
  </head>
  <body>
    <div class="full-container">
      <ul class="nav">
        <li class="btn btn-info nav-link">
          <a href="/signup" class="nav-link btn btn-info">註冊(暫時無法使用)</a>
        </li>
      </ul>
    </div>
    <form action="/" method="POST">
      <label for="nickname">遊戲名稱 : </label>
      <input type="text" name="nickname" />
      <button type="submit">送出</button>
    </form>
  </body>
</html>
